:root {
    --hypertext-color:#2196F3;
    --text-color:#757575;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    font-size: 14px;
}

.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    gap: 30px;
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.hero-section {
    background-color:#2F303A;
    padding-top: 200px;
    padding-bottom: 280px;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    min-width: 216px;
    padding: 10 32;
    margin-left: 724px;
    margin-right: 724px;
    text-align: center;
}

.examples {
    background-color: #F5F5F5;
}

.examples-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.examples-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}



.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hypertext-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.header-item:last-child {
    margin-right: 344px;
}

.header-item:hover {
    color: var(--hypertext-color);
}

.header-item:focus {
    color: var(--hypertext-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
}

.header-mail:hover {
    color: var(--hypertext-color);
}

.header-mail:focus {
    color: var(--hypertext-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
}

.header-tel:hover {
    color: #2196F3;
}

.header-tel:focus {
    color: #2196F3;
}


.pros {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.pros-title {
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.pros-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    max-width: 270px;
    max-height: 72px;
}

.ouroccupation {
    background-color: #FFFFFF;
    padding-bottom: 94px;
    padding-top: 94px;
}

.ouroccupation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list-item-text {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 30px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.footer {
    background-color: #2F303A;
    height: 252px;
}

.address-maps {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-item:hover {
    color: var(--hypertext-color);
}

.address-item:focus {
    color: var(--hypertext-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


