:root {
    --hypertext-color:#2196F3;
    --text-color:#757575;
}


body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    font-size: 14px;
}

.header {
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hypertext-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-item:hover {
    color: var(--hypertext-color);
}

.header-item:focus {
    color: var(--hypertext-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-mail:hover {
    color: var(--hypertext-color);
}

.header-mail:focus {
    color: var(--hypertext-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-tel:hover {
    color: #2196F3;
}

.header-tel:focus {
    color: #2196F3;
}

.hero {
    background-color:#2F303A;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.pros {
    background-color: #FFFFFF;
}

.pros-title {
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.pros-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.ouroccupation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-item-text {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.footer {
    background-color: #2F303A;
}

.address-maps {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-item:hover {
    color: var(--hypertext-color);
}

.address-item:focus {
    color: var(--hypertext-color);
}

